@charset "UTF-8";

.ui-wiget-heade, .ui.widget .ui-widget{
	font-size : 90% 
}

body{background: #fbffe1;}

h1{
	font-size: 60px;
	text-align: center;
	color: blue;
}
p{
	font-size: 20px;
	text-align: left;
	color: red;
}